# Environment
**/.dodsrc
.env
.venv
.vscode
uv.lock

# Compilation
__pycache__/
*.egg-info/
.ipynb_checkpoints

# Build files
logs
*.zip
*.gzip
*.accdb
*.7z
*.tar.gz
*.whl

# Downloaded Data (~160gb)
data/**

# training files
*.th
fire_fusion/model/saved/**
*.json

# generated run artifacts
fire_fusion/analysis/plots/**
runs/**
